@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-dark: #09090b;
  --color-gray-normal: #27272a;
  --color-gray-light: #999999;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-light);
  border-radius: 4px;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-light) transparent;
}
*::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}
*::-webkit-scrollbar {
  width: 2px;
  background: var(--color-gray-normal);
  border-radius: 4px;
}


body {
  background-color: var(--color-dark);
}

.overflow-scroll-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

/* Custom scrollbar styles for horizontal scroll */
.overflow-scroll-horizontal::-webkit-scrollbar {
  height: 8px;
  background: var(--color-gray-normal);
  border-radius: 4px;
}

.overflow-scroll-horizontal::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

.overflow-scroll-horizontal::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}

/* Firefox */
.overflow-scroll-horizontal {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-gray-normal);
}

.overflow-scroll-vertical {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Custom scrollbar styles for vertical scroll */
.overflow-scroll-vertical::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.overflow-scroll-vertical::-webkit-scrollbar-thumb {
  background: var(--color-gray-light);
  border-radius: 3px;
}

.overflow-scroll-vertical::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

/* Firefox */
.overflow-scroll-vertical {
  
}
